.primary {
    color: #f48fb1;
}

.primaryLight {
    color: #ffc1e3;
}

.primaryDark {
    color: #bf5f82;
}

.accent {
    color: #445963;
}

.accentLight {
    color: #708690;
}

.accentDark {
    color: #1b3039;
}

.profilePic {
    border-radius: 50%;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}