/*
primary color: #f48fb1;
primary light color: #ffc1e3;
primary dark color: #bf5f82;
accent color: #445963;
accent light color: #708690;
accent dark color: #1b3039;
*/

.navBar {
    height: 80px;
    width: 100vw;
    background-color: #f48fb1;
    position: fixed;
    top: 0;
    left: 0;
}

.profilePic {
    border-radius: 50%;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}